h1{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: red;
}

p{
    text-align: center;
    text-transform: capitalize;
}

li{
    text-transform: capitalize;
    font-family:'Times New Roman', Times, serif;
}